<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Danh sách nhãn hiệu</title>
</head>
<body>
<div th:replace="fragment/header.html :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <h3>Quản lý nhãn hiệu</h3>
        </div>
        <div class="col-md-3">
            <div class="list-group mt-3">
                <a th:href="@{/product}" class="list-group-item list-group-item-action" aria-current="true">
                    Quản lý sản phẩm
                </a>
                <a th:href="@{/brand}" class="list-group-item list-group-item-action active">Quản lý nhãn hiệu</a>
                <a th:href="@{/category}" href="#" class="list-group-item list-group-item-action ">Quản lý loại sản phẩm</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="card-box">
                        <legend class="float-none w-auto p-2 mb-0">Tìm kiếm</legend>
                        <form th:action="@{'/brand'}">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-control-label font-weight-bolder">Tên nhãn hiệu</label>
                                    <div class="mt-1">
                                        <input type="text" class="form-control" placeholder="Tên nhãn hiệu" th:name="name">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary mt-1" type="submit"><i class="fas fa-search me-1"></i>Tìm kiếm</button>
                                    <a th:href="@{'/brand/add-brand'}" class="btn btn-info mt-1 ms-1" role="button" aria-pressed="true"><i class="fas fa-plus me-1"></i>Tạo mới</a>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12 my-2">
                <span class="font-weight-medium theme-color">Danh sách nhãn hiệu</span>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-primary">
                        <tr>
                            <th class="text-center align-middle" scope="col">STT</th>
                            <th class="text-center align-middle" scope="col">Tên nhãn hiệu</th>
                            <th class="text-center align-middle" scope="col">Logo</th>
                            <th class="text-center align-middle" scope="col">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${brands.empty}">
                            <td class="text-center align-middle" colspan="4">Không có dữ liệu</td>
                        </tr>
                        <tr th:each="b,iStat: ${brands}">
                            <td class="align-middle text-center" th:text="${iStat.index + 1}"></td>
                            <!--                                <td class="align-middle text-center text-capitalize text-primary">-->
                            <!--                                    <span class="m-cursor">mark</span>-->
                            <!--                                </td>-->
                            <td class="align-middle text-center" th:text="${b.name}"></td>
                            <td class="align-middle text-center">
                                <img th:src="'data:image/png;base64,' + ${b.base64Img}" alt="" width="50" height="50" />
                            </td>

                            <td class="align-middle text-center">
                                <a th:href="@{/brand/edit/{id}(id=${b.id})}">
                                        <span class="text-info m-cursor" title="Cập nhật">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row justify-content-between">
                <div class="d-flex justify-content-end">
                    <nav aria-label="Pagination" th:if="${totalPages > 0}">
                        <ul class="pagination justify-content-center">

                            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                <a class="page-link" th:href="@{'/brand?' + ${name!=null && name!=''? 'name=' + name + '&' : ''} + 'page=' + ${page} + '&size=' + ${pageSize}}"> [[${page}]]</a>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>